.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.justified {
  text-align: justify;
}

#hidden {
  display: none;
}

#output {
  background-color: rgb(215, 215, 215);
  padding: 10px;
  border-radius: 5px;
}

.container {

}